.topbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 200px;
    text-align: left;
  }
  
.topright {
    position: fixed;
    top: 50px;
    right: 150px;
    bottom: 100px;
    font-size: 18px;
  }

table.bottom {
  width:100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  position: relative;
  padding: 5px;
  text-align: left;
}
h1{
    font-family: 'Great Vibes', cursive;
}