h1 {
  font-family: 'Great Vibes', cursive;
}

#top {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 2%;
  margin-left: 40%;
  text-align: left;
}

.stats {
  z-index: 1;
  position: relative;
}

.ratPicture {
    position: absolute;
    margin-left: 45%;
    margin-top: 8%;
    font-size: 18px;
}

table.description {
  width:33%;
  height: 5%;
  position: relative;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  position: relative;
  padding: 5px;
  text-align: left;
}

#bootstrap-overrides .shop {
  position: absolute;
  margin-left: 1%;
  margin-top: 8%;
  width: 16%;
}

.ratBtn {
  width: 100%;
  margin: 1.5%;
}

#bugreport{
  position: relative;
  left: 2%;
  text-align: center;
}

#bigMoneyStats{
  z-index: 1;
  position: absolute;
  margin-left: 18%;
  margin-top: 10%;
}

footer{
  position: absolute;
  top: 0px;
  left: 0px;
}