h1 {
  font-family: 'Great Vibes', cursive;
  position: absolute;
  margin-left: 40%;
  top: 10px;
}

.worldMessage {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  margin-top: 2%;
  margin-left: 40%;
  text-align: left;
}

.report {
  z-index: 1;
  position: absolute;
  margin-left: 22%;
  margin-top: 25%;
}

.stats {
  z-index: 1;
  position: absolute;
  margin-left: 29%;
  margin-top: 10%;
}

.ratPicture {
    position: absolute;
    margin-left: 38.5%;
    margin-top: 18%;
    font-size: 18px;
}

table.description {
  width:25%;
  height: 5%;
  margin-top: 10%;
  margin-left: 38.5%;
  position: absolute;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  position: relative;
  padding: 5px;
  text-align: left;
}

#bootstrap-overrides .shop {
  position: absolute;
  margin-left: 12.5%;
  margin-top: 8%;
  width: 15.7%;
}

.ratBtn {
  width: 100%;
  margin: 1.5%;
}
